* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;

  font-size: 18px;
}

:root {
  /* Primary colors */
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /* Secondary */
  --Red: hsl(0, 87%, 67%);

  /* Neutral */
  --Gray: hsl(0, 0%, 81%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

header {
  height: 50%;
  padding: 10px 70px;
}

header img {
  margin-top: 5px;
}

#header-menu {
  position: relative;
  left: 8rem;
  top: -2.2rem;
  color: var(--Gray);
}

#header-menu li:hover {
  color: var(--Very-Dark-Blue);
  cursor: pointer;
  transition: 1s;
}
#login {
  color: var(--Gray);
}

#sign-up {
  color: #fff;
  padding: 3px;
  text-align: center;
  border: 1px solid var(--Cyan);
  background-color: var(--Cyan);
  border-radius: 10px;
}

#header-login {
  position: relative;
  left: 45rem;
  top: -3.7rem;
}

#header-login li:hover {
  color: var(--Very-Dark-Blue);
  cursor: pointer;
  transition: 1s;
}

.header {
  width: 16rem;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#main-container {
  margin: 10px 70px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
}

#main-content {
  display: flex;
}

#main-container img {
  position: relative;
  width: 30rem;
  left: 2rem;
  overflow: hidden;
}

.main-text-s {
  font-size: 3rem;
}

.main-text-p {
  font-size: 18px;
  width: 500px;
  color: var(--Gray);
  background-color: #fff;
}

#get-btn {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: var(--Cyan);
  color: #fff;
  cursor: pointer;
}

#shortener {
  background: url(images/bg-shorten-desktop.svg);
  background-color: var(--Dark-Violet);
  border-radius: 10px;
  width: 80%;
  height: 6rem;
  margin: 0 auto;
  position: relative;
  top: -66rem;
  display: flex;
  justify-content: center;
}

#paste-link {
  width: 80%;
  height: 3rem;
  margin: auto;
  border-radius: 10px;
}
#shorten-btn {
  margin: auto;
  height: 3rem;
  border-radius: 10px;
  width: 7rem;
}

#advanced-statics {
  background: var(--Gray);
  position: relative;
  top: -130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1000px;
}

#statics-texts {
  margin: 0 auto;
  position: relative;
  top: -10rem;
  width: 500px;
  text-align: center;
}

#statics-texts h2 {
  color: var(--Dark-Violet);
  font-size: 28px;
}

#statics-texts p {
  font-size: 18px;
  color: var(--Grayish-Violet);
}

#stats-box {
  display: flex;
  margin: 0 auto;
  position: relative;
  top: -50px;
  z-index: 1;
}
#stats-box h2 {
  margin-top: 20px;
  margin-bottom: 8px;
}

#brand,
#detailed,
#customizable {
  background-color: white;
  margin-right: 20px;
  padding: 0 15px;
  width: 18rem;
  height: 14rem;
}
#detailed {
  position: relative;
  top: 50px;
}

#customizable {
  position: relative;
  top: 100px;
}

.thumb {
  margin-top: -35px;
  padding: 10px;
  width: 4rem;
  border-radius: 50%;
  color: var(--Cyan);
  background-color: var(--Very-Dark-Blue);
}

.line {
  border: 4px solid var(--Cyan);
  position: relative;
  left: 300px;
  top: -100px;
  width: 400px;
  z-index: -1;
}

#boost-link {
  padding: 10px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: -240px;
  background: url(images/bg-boost-desktop.svg);
  background-color: var(--Dark-Violet);
  background-size: cover;
}

.boost {
  color: white;
  font-weight: 800;
  font-size: 32px;
}

#get-started {
  color: #fff;
  background-color: var(--Cyan);
  border-radius: 10px;
  padding: 4px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.footer-container {
  padding: 10px 70px;
  border: 2px solid red;
  background-color: var(--Very-Dark-Blue);
  height: 50vh;
}

#footer-menus {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: -40px;
  margin-left: 20px;
}

.footer-title {
  font-size: 20px;
}

#footer-menus ul {
  margin-right: 30px;
  list-style: none;
}

#footer-menus li {
  color: #b8b4b4;
}
#footer-menus li:hover {
  color: #fff;
  cursor: pointer;
}
.footer-logo {
  margin-top: 25px;
  background-image: url(images/logo.svg);
  filter: invert(0.95) brightness(1.5);
}
